<section>
    <h2>Get weather by:</h2>

    <md-tab-group>
        <md-tab label="City Name">
            <label for="cityName">City Name</label>
            <md-input-container>
                <input type="text" mdInput placeholder="City">
            </md-input-container>

            <label for="countryCode">Country Code</label>
            <md-input-container>
                <input type="text" mdInput placeholder="Country Code">
            </md-input-container>
            <!--Add Autocomplete-->


        </md-tab>
        <md-tab label="City ID">
            <md-select placeholder="City ID">
                <md-option>City ID 1</md-option>
            </md-select>
        </md-tab>
        <md-tab label="Geographic Coordinates">
            <md-select placeholder="Coords Latitude">
                <md-option>Latitude 1</md-option>
            </md-select>

            <md-select placeholder="Coords Longitude">
                <md-option>Longitude 1</md-option>
            </md-select>
        </md-tab>
        <md-tab label="Zip Code">
            <md-select placeholder="Zip Code">
                <md-option>Zip Codes 1</md-option>
            </md-select>
        </md-tab>
    </md-tab-group>
</section>