<section>
    <h2>Get weather by:</h2>

    <md-tab-group>
        <md-tab label="City Name"> <br>
            <label for="cityName">City Name</label>
            <md-input-container>
                <input type="text" mdInput placeholder="City">
            </md-input-container>

            <label for="countryCode">Country Code</label>
            <md-input-container>
                <input type="text" mdInput placeholder="Country Code">
            </md-input-container>
            <!--Add Autocomplete-->


        </md-tab>
        <md-tab label="City ID"> <br>
            <md-select placeholder="City ID">
                <md-option>City ID 1</md-option>
            </md-select>
        </md-tab>


        <md-tab label="Geographic Coordinates"> <br>
            <label for="latitude">Latitude:</label>
            <md-input-container>
                <input required type="number" mdInput placeholder="Latitude" [(ngModel)]="lat">
            </md-input-container>
            <label for="longitude">Longitude:</label>
            <md-input-container>
                <input required type="number" mdInput placeholder="Longitude" [(ngModel)]="lon">
            </md-input-container><br>
            <div>

                <md-grid-list *ngIf="weatherGrid.length" cols="5">
                    <md-grid-tile rowspan="1" colspan="1" *ngFor="let forecast of weatherGrid">

                        <div style="text-align: center;">

                            <img src="http://openweathermap.org/img/w/{{ forecast.icon }}.png" alt="">
                            <div style="font-size: 18px;">{{ forecast.avgTemp }}&deg;C</div>
                            <div><small>Min: {{ forecast.minTemp }}</small></div>
                            <div><small>Max: {{ forecast.maxTemp }}</small></div>
                            <div><small>Hum: {{ forecast.humidity }}%</small></div>
                        </div>

                    </md-grid-tile>
                </md-grid-list>
                <br><br>
                <button md-raised-button (click)="displayAndStoreData()" color="primary">Get Weather</button>

            </div>
        </md-tab>


        <md-tab label="Zip Code"> <br>
            <md-select placeholder="Zip Code">
                <md-option>Zip Codes 1</md-option>
            </md-select>
        </md-tab>
    </md-tab-group>
</section>