section {
    background-color: white;
    /*height: 700px;*/
    padding-top: 10px;
    padding-right: 30px;
    padding-bottom: 0;
    padding-left: 30px;
    margin-top: 5px;
}

md-grid-tile {
    border-radius: 5px;
}